[Unit]
Description=NetStinky IDS service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/nsids -i wlan0 -p 8089 --update-host netstinky-api.wand.net.nz --update-port 15000
Restart=on-failure

[Install]
WantedBy=multi-user.target
